<div class="pt-20 pb-96 align-center self-center">
    <div class="text-3xl font-bold text-gray-700 hover:text-gray-800">Cadastre-se!</div>
    <div class="pt-2">
        <%= form_with model: @user, url:cadastro_path do |form| %>
        <div class="nome pt-6">
            <%= form.label :name, "Nome" %>
            <%= form.text_field :name, placeholder:"John from foodwishes.com" %>
        </div>
        <div class="situacao pt-6">
            <%= form.label :situacao, "Situação" %>
            <%= form.select :situacao, ["Visitante","Trainee", "Voluntário", "Bolsista"] %>
        </div>
        <div class="email pt-6">
            <%= form.label :email, "Email" %>
            <%= form.email_field :email, placeholder: "your_name@colmeia.com" %>
        </div>
        <div class="senha pt-6">
            <%= form.label :password, "Senha" %>
            <%= form.password_field :password, placeholder:"********" %>
        </div>
        <div class="data_de_inicio pt-6">
            <%= form.label :data_de_inicio, "Data de inicio" %>
            <%= form.date_field :data_de_inicio, value: Date.today %>
        </div>
        <div class="align-center pt-6">
            <%= form.submit "Enviar"%>
        </div>
        <% end %>
    </div>
</div>