<h1 class="text-center my-8 text-8xl font-medium">Parceria</h1>
<p class="text-center my-12 text-4xl">Muito obrigado aos nossos parceiros!</p>
<div class="my-8 flex flex-row justify-center items-center">
    <a href="https://odsbrasil.gov.br/" target="_blank"><%= image_tag "selo_ods_redondo.png", class: "w-52 h-52 mx-5"%></a>
    <a href="http://www.fablabjoinville.com.br/" target="_blank"><%= image_tag "fablab_logo.png", class: "w-44 h-52 mx-5"%></a>
    <a href="https://www.udesc.br/cct/" target="_blank"><%= image_tag "cct_logo.png", class: "w-52 h-52 mx-5"%></a>
    <a href="https://www.arduino.cc/" target="_blank"><%= image_tag "arduino_logo.png", class: "w-52 h-36 mx-5"%></a>
    <a href="https://linuxfoundation.org/" target="_blank"><%= image_tag "linux_logo.png", class: "w-52 h-52 mx-5"%></a>
</div>