<div id="modalPlace"></div>
<div>
  <h1 class="text-2xl text-gray-700 font-bold">Listagem de posts</h1>
  <div class="mt-10">
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    ID
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Título
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Criado por
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Tags
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Data de criação
                  </th>
                  <th scope="col" class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    <span class="sr-only">Acões</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y">
                <% @posts = Post.order("created_at ASC").last(15).reverse() %>
                  <% if @posts != [] %>
                    <% @posts.each do |post| %>
                      <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                            <span class="text-sm font-medium text-gray-900"><%= post.id %></span>
                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <%= link_to post.title, post_path(id: post.id), target: '_blank', class: 'text-sm font-medium text-gray-900' %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="text-sm text-gray-900"><%= post.users_name %></div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <span class="bg-gray-200 text-gray-700 px-2 py-1 font-bold text-sm uppercase rounded">Linux, Rust, C</span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <span class="text-sm text-gray-900"><%= post.created_at %></span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                          <%= link_to 'Editar', edit_post_path(id: post.id), class: 'text-gray-700 hover:text-gray-800 mr-2' %>
                          <%# <%= link_to 'Excluir', post_destroy_path(id: post.id), method: 'delete', class: 'text-red-600 hover:text-red-700' %>
                          <%= button_tag 'Excluir', type: 'button', :onclick => 'modalToggle(' + post.id.to_s + ', 0)', class: 'text-red-600 hover:text-red-700' %>
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <span class="text-sm font-medium text-gray-900">Ainda não foram adicionados posts...</span>
                        </div>
                      </td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>