<div>
  <h1 class="text-2xl text-gray-700 font-bold">Criação de nova postagem</h1>
  <%= form_with url: posts_path, method: 'post', class: 'mt-10' do |form| %>
    <div class="mb-4">
      <%= form.label :title, 'Título da postagem', class: 'block text-gray-700 text-sm font-bold mb-2 dark:text-gray-200' %>
      <%= form.text_field :title, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600' %>
    </div>

    <div class="mb-4">
      <%= form.label :desc, 'Descrição da postagem', class: 'block text-gray-700 text-sm font-bold mb-2 dark:text-gray-200' %>
      <%= form.text_field :desc, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600' %>
    </div>

    <div class="mb-4">
      <%= form.label :html, 'Corpo da postagem', class: 'block text-gray-700 text-sm font-bold mb-2 dark:text-gray-200' %>
      <%= link_to 'Guia de markdown', 'https://guides.github.com/features/mastering-markdown/', target: '_blank', class: 'block text-gray-400 text-sm font-medium mb-2 dark:text-gray-200 hover:underline' %>
      <%= form.text_area :html, class: 'h-96 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600' %>
    </div>

    <div class="mb-4">
      <%= form.label :users_name, 'Escritor', class: 'block text-gray-700 text-sm font-bold mb-2 dark:text-gray-200' %>
      <%= form.text_field :users_name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600', value: Current.user.name %>
    </div>

    <div class="actions">
      <%= form.submit "Salvar postagem", class: 'bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer' %>
    </div>
  <% end %>
</div>