<div class="bg-gray-100 max-w-md w-full rounded shadow p-10 dark:bg-gray-800">
  <%= image_tag "Colmeia.png", class: "h-12 mx-auto" %>
  <%= form_with url: login_path, class: 'mt-10' do |form| %>
    <div class="mb-4">
      <%= form.label :email, "Email", class: 'block text-gray-700 text-sm font-bold mb-2 dark:text-gray-200' %>
      <%= form.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600', placeholder: "your_name@colmeia.com" %>
    </div>
    <div class="mb-6">
      <%= form.label :password, "Senha", class: 'block text-gray-700 text-sm font-bold mb-2 dark:text-gray-200' %>
      <%= form.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600', placeholder: "********" %>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex flex-col">
        <a class="inline-block align-baseline font-bold text-sm text-gray-700 hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-300" href="#">
          Esqueceu sua senha?
        </a>
        <%= link_to 'Ir à página de registro ->', cadastro_path, class: 'inline-block align-baseline font-bold text-sm text-gray-700 hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-300' %>
      </div>
      <%= form.submit "Login", class: 'bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer' %>
    </div>
  <% end %>
</div>