<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
<% if @user.errors.any? %>
<div class="alert alert-danger">
    <% @user.errors.full_messages.each do |message| %>
    <div><%=message%></div>
    <%end%>
</div>
<%end%>
<div class="mb-3">
    <%= form.label :Email%>
    <%= form.text_field :email, class: "form-control", placeholder: "exemplo@colmeia.com" %>
</div>
<div class="mb-3">
    <%= form.label :Senha%>
    <%= form.password_field :password, class: "form-control", placeholder: "********" %>
</div>
<div class="mb-3">
    <%= form.label :Confirme_a_senha %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "********"  %>
</div>

<div class="mb-3">
    <%= form.submit "Criar usuário" %>
</div>
<% end %>