<div class="flex h-20 bg-gray-100 w-full lg:hidden px-10 justify-between items-center">
  <%= image_tag 'Colmeia.png', class: 'h-12' %>
  <button id="mobileMenuOpen" aria-label="Open Menu" title="Open Menu" class="p-2 -mr-1 rounded focus:outline-none focus:shadow-outline focus:bg-gray-200">
    <svg class="w-5 text-gray-800" viewBox="0 0 24 24">
      <path fill="currentColor" d="M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z"></path>
      <path fill="currentColor" d="M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z"></path>
      <path fill="currentColor" d="M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z"></path>
    </svg>
  </button>
</div>

<div id="mobileMenuDiv" class="w-72 shadow-lg bg-gray-100 block p-10 absolute inset-y-0 left-0 transform -translate-x-full lg:relative lg:translate-x-0 lg:shadow-none transition duration-200 ease-in-out">
  <%= link_to image_tag('Colmeia.png', class: 'h-12 mx-auto'), dashboard_path %>
  <ul class="mt-10 space-y-5">
    <%= link_to dashboard_path, :class => current_sidebar_class?(dashboard_path) do %>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
        <span class="ml-2">Início</span>
      </li>
    <% end %>
    <%= link_to dashboard_posts_new_path, :class => current_sidebar_class?(dashboard_posts_new_path) do %>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
        </svg>
        <span class="ml-2">Criar post</span>
      </li>
    <% end %>
    <%= link_to dashboard_posts_path, :class => current_sidebar_class?(dashboard_posts_path) do %>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
          <path fillRule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clipRule="evenodd" />
        </svg>
        <span class="ml-2">Listar posts</span>
      </li>
    <% end %>
    <%= link_to dashboard_users_path, :class => current_sidebar_class?(dashboard_users_path) do %>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
        </svg>
        <span class="ml-2">Listar usuários</span>
      </li>
    <% end %>
    <%= link_to dash_tags_path, :class => current_sidebar_class?(dash_tags_path) do %>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fillRule="evenodd" d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.938l1-4H9.031z" clipRule="evenodd" />
        </svg>
        <span class="ml-2">Tags</span>
      </li>
    <% end %>
      <%= link_to list_info_path, :class => current_sidebar_class?(list_info_path) do %>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
            <path fillRule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clipRule="evenodd" />
          </svg> 
          <span class="ml-2">Artefatos</span>
        </li>
    <% end %>
    <%= link_to senhas_path, :class => current_sidebar_class?(senhas_path) do %>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
          <path d="M7 11V7a5 5 0 0 1 9.9-1"></path>
          </svg>
          <span class="ml-2">Banco de senhas</span>
        </li>
    <% end %>
    <%= link_to root_path, class: 'flex w-full justify-between text-yellow-500 font-semibold' do %>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
        <span class="ml-2">Voltar ao site</span>
      </li>
    <% end %>
  </ul>
</div>
